{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>MB Assets, Informacion Financiera Bursatil</title>
      <!-- favicon -->
      <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">
      <!-- bootstrap css -->
      
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
      <!-- fontawesome css -->
      <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
      <!-- fontawesome css -->
      <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">
      <!-- owl carousel css -->
      <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
      <!-- owl carousel theme css -->
      <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
      <!-- slicknav css -->
      <link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
      <!-- animate css -->
      <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
      <!-- main css -->
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <!-- responsive css -->
      <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
      <!-- jquery js -->
      <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
   </head>
   
   
   
   <body>
      <!--   header area start   -->
      <div class="header-area home-3">
         <div class="info-bar">
            <div class="container">
               <div class="row">
                  <div class="col-lg-6">
                     <div class="contact-infos">
                        <div class="email">
                           <div class="icon-wrapper"><i class="flaticon-call"></i></div>
                           <div>+ 549 11 xxx xxx</div>
                        </div>
                        <div class="phone">
                           <div class="icon-wrapper"><i class="flaticon-email"></i></div>
                           <div>Support@mail.com</div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-6">
                     <div class="right-content">
                        <ul class="social-links">
                           <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                           <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                           <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                        </ul>
                        <div class="language">
                           <a href="#" class="dropdown-btn">Lenguaje <i class="flaticon-down-arrow"></i></a>
                           <ul class="language-dropdown">
                              <li>
                                 <a href="#">English</a>
                              </li>
                              <li>
                                 <a href="#">Español</a>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="support-nav-area">
            <div class="container">
               <div class="row">
                  <div class="col-lg-3 col-6">
                     <div class="logo-wrapper">
                        <div class="logo-wrapper-inner">
                           <a href="index.html"><img src="{% static 'img/logo-3.png' %}" alt=""></a>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-9 col-6 position-static">
                     <div class="navbar-area">
                        <div class="row">
                           <div class="col-12 position-static">
                              <nav class="main-menu" id="mainMenuHome3">
                                 <ul>
                                                                        <li>
                                       <a href="#">Inicio</a>
                                    </li>
                                    

                                    <li class="dropdown">
                                       <a href="#">Servicios</a>
                                       <ul>
                                          <li><a href="bajo.html">Perfil de bajo riesgo</a></li>
                                          <li><a href="moderado.html">Perfil de riesgo moderado</a></li>
                                          <li><a href="alto.html">Perfil de riesgo alto</a></li>
                                       </ul>
                                    </li>
                                    <li class="dropdown">
                                       <a href="#">Noticias</a>
                                       <ul>
                                          <li><a href="blogs.html">Educativo</a></li>
                                  
   </body>
</html>