{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>MB Assets, Informacion Financiera Bursatil</title>
      <!-- favicon -->
      <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">
      <!-- bootstrap css -->
      
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
      <!-- fontawesome css -->
      <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
      <!-- fontawesome css -->
      <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">
      <!-- owl carousel css -->
      <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
      <!-- owl carousel theme css -->
      <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
      <!-- slicknav css -->
      <link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
      <!-- animate css -->
      <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
      <!-- main css -->
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <!-- responsive css -->
      <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
      <!-- jquery js -->
      <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
   </head>
   
   
   
   <body>
      <!--   header area start   -->
      <div class="header-area home-3">
         <div class="info-bar">
            <div class="container">
               <div class="row">
                  <div class="col-lg-6">
                     <div class="contact-infos">
                        <div class="email">
                           <div class="icon-wrapper"><i class="flaticon-call"></i></div>
                           <div>+ 549 11 xxx xxx</div>
                        </div>
                        <div class="phone">
                           <div class="icon-wrapper"><i class="flaticon-email"></i></div>
                           <div>Support@mail.com</div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-6">
                     <div class="right-content">
                        <ul class="social-links">
                           <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                           <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                           <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                        </ul>
                        <div class="language">
                           <a href="#" class="dropdown-btn">Lenguaje <i class="flaticon-down-arrow"></i></a>
                           <ul class="language-dropdown">
                              <li>
                                 <a href="#">English</a>
                              </li>
                              <li>
                                 <a href="#">Español</a>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="support-nav-area">
            <div class="container">
               <div class="row">
                  <div class="col-lg-3 col-6">
                     <div class="logo-wrapper">
                        <div class="logo-wrapper-inner">
                           <a href="index.html"><img src="{% static 'img/logo-3.png' %}" alt=""></a>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-9 col-6 position-static">
                     <div class="navbar-area">
                        <div class="row">
                           <div class="col-12 position-static">
                              <nav class="main-menu" id="mainMenuHome3">
                                 <ul>
                                                                        <li>
                                       <a href="#preg2">Inicio</a>
                                    </li>
                                    

                                    <li class="dropdown">
                                       <a href="#">Servicios</a>
                                       <ul>
                                          <li><a href="bajo.html">Perfil de bajo riesgo</a></li>
                                          <li><a href="medio.html">Perfil de riesgo moderado</a></li>
                                          <li><a href="alto.html">Perfil de riesgo alto</a></li>
                                       </ul>
                                    </li>
                                    <li class="dropdown">
                                       <a href="#">Noticias</a>
                                       <ul>
                                          <li><a href="blogs.html">Educativo</a></li>
                                          <li><a href="blog-grid.html">Indices</a></li>
                                          <li><a href="blog-grid-sidebar.html">Mercados Bursatiles</a></li>
                                          <li><a href="Cripto.html">Criptomercado</a></li>
                                          <li><a href="blog-details.html">informacion de valor</a></li>
                                       </ul>
                                    </li>
                                    <li class="dropdown">
                                       <a href="test.html">Test de Aversión Free!</a>
                                       <ul>
                                          <li><a href="test.html">¡Realizar Test de Aversión en 5 minutos!</a></li>

                                       </ul>
                                    </li>
                              </nav>
                              <div id="mobileMenuHome3"></div>
                              <ul class="search-cart-area">
                                 <li class="search-icon"><a href="#"><i class="flaticon-search"></i></a></li>
                                 <li class="shopping-icon">
                                    <a href="#"><i class="flaticon-shopping-cart-black-shape"></i></a>
                                    <span class="count">0</span>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--   header area end   -->
      
      
      <!--   search bar popup start   -->
      <div class="search-popup">
         <form class="search-form" action="#">
            <div class="form-element"><input type="text" placeholder="Type your search keyword"></div>
         </form>
         <div class="search-popup-overlay" id="searchOverlay"></div>
         <button class="search-close-btn" id="searchCloseBtn"><i class="fas fa-times"></i></button>
      </div>
      <!--   search bar popup end   -->  
      
      
      <!--  hero area start  -->
      <div class="hero-area home-3 home-6">
         <div class="hero-carousel owl-carousel owl-theme">
            <div class="single-hero-item hero-bg-3">
               <div class="container">
                  <div class="row">
                     <div class="col-xl-6 col-lg-8">
                        <div class="hero-txt">
                           <span>MB Assets</span>
                           <h1>Test de Aversion al riesgo</h1>
                           
                           <a href="services.html" class="boxed-btn"><span>¡Comenzar ahora!</span></a>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="hero-overlay"></div>
            </div>
            <div class="single-hero-item hero-bg">
               <div class="container">
                  <div class="row">
                     <div class="col-xl-6 col-lg-8">
                        <div class="hero-txt">
                           <span>We are transpix</span>
                           <h1>No# 1 solution for transport</h1>
                           <a href="services.html" class="boxed-btn"><span>SEE SERVICES</span></a>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="hero-overlay"></div>
            </div>
            <div class="single-hero-item hero-bg-2">
               <div class="container">
                  <div class="row">
                     <div class="col-xl-6 col-lg-8">
                        <div class="hero-txt">
                           <span>We are transpix</span>
                           <h1>No# 1 solution for transport</h1>
                           <a href="services.html" class="boxed-btn"><span>SEE SERVICES</span></a>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="hero-overlay"></div>
            </div>
         </div>
      </div>
      <!--  hero area end  -->
      
      
      <!--   cta section start    -->
      <div class="cta-section home-2">
         <div class="container">
            <div class="cta-container">
               <div class="row align-items-center">
                  <div class="col-lg-9">
                     <h2 class="mb-lg-0 text-center text-lg-left">Especialista en Mercados de Capitales</h2>
                  </div>
                  <div class="col-lg-3 text-center text-lg-right">
                     <a href="contact.html" class="boxed-btn"><span>Contacto</span></a>
                  </div>
               </div>
            </div>
         </div>
         <div class="cta-overlay"></div>
      </div>
      <!--   cta section end    -->
      
      
      <!--  service section start  -->
      <div class="service-section home-3">
         <div class="container">
            <span class="title">Pregunta Nº 1</span>
            <h2 class="subtitle">¿Cuál es su nivel de tolerancia al riesgo en una situación de volatilidad del mercado de valores?</h2>
            <div class="services">
               <div class="row">
                  <div class="col-lg-4 col-md-6">
                     <div class="single-service wow fadeInUp" data-wow-duration="1.5s">

                        <div class="service-txt">
                           <h4 class="service-title">Prefiero mantener mi dinero en inversiones seguras y de bajo riesgo.</h4>


                         

                           <form method="POST" action="">
                              {% csrf_token %}
                              <input type="checkbox" name="checkbox1" id="checkbox1" onclick="updateCheckboxes1()"> Respuesta 1<br>
                              
                              
                          

                            
                              
                              

                           
                          
                          
                          
                           
                              
                          
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6">
                     <div class="single-service wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".2s">
           
                        <div class="service-txt">
                           <h4 class="service-title"> Prefiero invertir en una combinación de activos seguros y de mayor riesgo que me permita obtener una rentabilidad moderada sin exponerme a un alto nivel de volatilidad.</h4>
                           <input type="checkbox" name="checkbox2" id="checkbox2" onclick="updateCheckboxes2()"> Respuesta 2<br>

                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6">
                     <div class="single-service wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".4s">
                   
                        <div class="service-txt">
                           <h4 class="service-title">Tengo una aversión muy alta al riesgo en una situación de volatilidad del mercado de valores. Prefiero invertir en activos de bajo riesgo y seguridad financiera.</h4>
                           <input type="checkbox" name="checkbox3" id="checkbox3" onclick="updateCheckboxes3()"> Respuesta 3<br>

                        </div>
                     </div>
                  </div>
              
               </div>
            </div>
         </div>
      </div>
      
      <!--  service section end  -->
            <!--  service section start  -->
      <div id="preg2" class="service-section home-3" >
         <div  class="container">
            <span  class="title">Pregunta Nº2:</span>
            <h2 class="subtitle">¿Cuánto tiempo estaría dispuesto a esperar antes de vender su portafolio de inversión después de una caída significativa en el valor del mercado?</h2>
           
            <div class="services">
               <div class="row">
                  <div class="col-lg-4 col-md-6">
                     <div class="single-service wow fadeInUp" data-wow-duration="1.5s">

                        <div class="service-txt">
                           <h4 class="service-title">Esperaría al menos un par de años antes de vender mi portafolio de inversión después de una caída significativa en el valor del mercado.</h4>
                           <input type="checkbox" name="checkbox4" id="checkbox4" onclick="updateCheckboxes4()"> Respuesta 1<br>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6">
                     <div class="single-service wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".2s">
           
                        <div class="service-txt">
                           <h4 class="service-title"> Esperaría entre uno y dos años antes de vender mi portafolio de inversión después de una caída significativa en el valor del mercado.</h4>
                           <input type="checkbox" name="checkbox5" id="checkbox5" onclick="updateCheckboxes5()"> Respuesta 2<br>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6">
                     <div class="single-service wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".4s">
                   
                        <div class="service-txt">
                           <h4 class="service-title">En caso de una caída significativa en el valor del mercado, estaría dispuesto a esperar varios años antes de vender mi portafolio de inversión para recuperar las pérdidas.</h4>
                           <input type="checkbox" name="checkbox6" id="checkbox6" onclick="updateCheckboxes6()"> Respuesta 3<br>

                        </div>
                     </div>
                  </div>
                  
               </div>
            </div>
         </div>
      </div>
      <!--  service section end  -->
      
            <!--  service section start  -->
            <div class="service-section home-3">
               <div class="container">
                  <span class="title">Pregunta Nº3:</span>
                  <h2 class="subtitle">¿Cómo afectaría una caída en el valor de su portafolio de inversión en su estado de ánimo y bienestar emocional?</h2>
                  
                  <div class="services">
                     <div class="row">
                        <div class="col-lg-4 col-md-6">
                           <div class="single-service wow fadeInUp" data-wow-duration="1.5s">
      
                              <div class="service-txt">
                                 <h4 class="service-title">Una caída en el valor de mi portafolio de inversión tendría un impacto negativo en mi estado de ánimo y bienestar emocional.</h4>
                                 <input type="checkbox" name="checkbox7" id="checkbox7" onclick="updateCheckboxes7()"> Respuesta 1<br>
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                           <div class="single-service wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".2s">
                 
                              <div class="service-txt">
                                 <h4 class="service-title"> Una caída en el valor de mi portafolio de inversión tendría un impacto negativo en mi estado de ánimo y bienestar emocional, pero estoy dispuesto a aceptar cierto nivel de riesgo y volatilidad en mis inversiones.</h4>
                                 <input type="checkbox" name="checkbox8" id="checkbox8" onclick="updateCheckboxes8()"> Respuesta 2<br>
                          
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                           <div class="single-service wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".4s">
                         
                              <div class="service-txt">
                                 <h4 class="service-title">Una caída en el valor de mi portafolio de inversión tendría un impacto significativo en mi estado de ánimo y bienestar emocional, ya que soy muy sensible a las pérdidas financieras.</h4>
                                 <input type="checkbox" name="checkbox9" id="checkbox9" onclick="updateCheckboxes9()"> Respuesta 3<br>
      
                              </div>
                           </div>
                        </div>
                        
                     </div>
                  </div>
               </div>
            </div>
            <!--  service section end  -->
            
            <!--  service section start  -->
      <div class="service-section home-3">
         <div class="container">
            <span class="title">Pregunta Nº4:</span>
            <h2 class="subtitle">¿Cuál es su nivel de conocimiento sobre el mercado de valores y cómo afectaría esto su capacidad para tomar decisiones de inversión informadas?</h2>
            
            <div class="services">
               <div class="row">
                  <div class="col-lg-4 col-md-6">
                     <div class="single-service wow fadeInUp" data-wow-duration="1.5s">

                        <div class="service-txt">
                           <h4 class="service-title">Tengo un conocimiento limitado sobre el mercado de valores y esto puede limitar mi capacidad para tomar decisiones de inversión informadas.</h4>
                           <input type="checkbox" name="checkbox10" id="checkbox10" onclick="updateCheckboxes10()"> Respuesta 1<br>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6">
                     <div class="single-service wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".2s">
           
                        <div class="service-txt">
                           <h4 class="service-title"> Tengo un conocimiento moderado sobre el mercado de valores, pero busco informarme constantemente para tomar decisiones de inversión informadas.</h4>
                           <input type="checkbox" name="checkbox11" id="checkbox11" onclick="updateCheckboxes11()"> Respuesta 2<br>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6">
                     <div class="single-service wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".4s">
                   
                        <div class="service-txt">
                           <h4 class="service-title">Tengo un conocimiento limitado sobre el mercado de valores, lo que puede limitar mi capacidad para tomar decisiones de inversión informadas y aumentar mi aversión al riesgo.</h4>
                           <input type="checkbox" name="checkbox12" id="checkbox12" onclick="updateCheckboxes12()"> Respuesta 3<br>

                        </div>
                     </div>
                  </div>
                  
               </div>
            </div>
         </div>
      </div>
      <!--  service section end  -->
      
            <!--  service section start  -->
            <div class="service-section home-3">
               <div class="container">
                  <span class="title">Pregunta Nº5:</span>
                  <h2 class="subtitle">¿Qué tan importante es la rentabilidad de su inversión en comparación con la estabilidad de su portafolio?</h2>
                  <div class="services">
                     <div class="row">
                        <div class="col-lg-4 col-md-6">
                           <div class="single-service wow fadeInUp" data-wow-duration="1.5s">
      
                              <div class="service-txt">
                                 <h4 class="service-title">La estabilidad de mi portafolio es más importante para mí que la rentabilidad.</h4>
                                 <input type="checkbox" name="checkbox13" id="checkbox13" onclick="updateCheckboxes13()"> Respuesta 1<br>
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                           <div class="single-service wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".2s">
                 
                              <div class="service-txt">
                                 <h4 class="service-title">La rentabilidad de mi inversión es importante, pero la estabilidad de mi portafolio es igualmente importante para mí.</h4>
                                 <input type="checkbox" name="checkbox14" id="checkbox14" onclick="updateCheckboxes14()"> Respuesta 2<br>
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                           <div class="single-service wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".4s">
                         
                              <div class="service-txt">
                                 <h4 class="service-title">La estabilidad de mi portafolio es extremadamente importante para mí, y estoy dispuesto a sacrificar la rentabilidad para mantener un alto nivel de seguridad financiera.</h4>
                                 <input type="checkbox" name="checkbox15" id="checkbox15" onclick="updateCheckboxes15()"> Respuesta 3<br>
      
                              </div>
                           </div>
                        </div>
                        
                     </div>
                  </div>
               </div>
            </div>
            <!--  service section end  -->
            
            <!--  service section start  -->
      <div class="service-section home-3">
         <div class="container">
            <span class="title">Pregunta Nº6:</span>
            <h2 class="subtitle">¿Está dispuesto a asumir mayores riesgos con su inversión en el mercado de valores si esto significa la posibilidad de obtener mayores ganancias?</h2>
            <div class="services">
               <div class="row">
                  <div class="col-lg-4 col-md-6">
                     <div class="single-service wow fadeInUp" data-wow-duration="1.5s">

                        <div class="service-txt">
                           <h4 class="service-title">No estoy dispuesto a asumir mayores riesgos con mi inversión en el mercado de valores, incluso si esto significa la posibilidad de obtener mayores ganancias.</h4>
                           <input type="checkbox" name="checkbox16" id="checkbox16" onclick="updateCheckboxes16()"> Respuesta 1<br>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6">
                     <div class="single-service wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".2s">
           
                        <div class="service-txt">
                           <h4 class="service-title">Estoy dispuesto a asumir cierto nivel de riesgo en mi inversión en el mercado de valores, pero no en exceso, incluso si esto significa la posibilidad de obtener mayores ganancias.</h4>
                           <input type="checkbox" name="checkbox17" id="checkbox17" onclick="updateCheckboxes17()"> Respuesta 2<br>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6">
                     <div class="single-service wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".4s">
                   
                        <div class="service-txt">
                           <h4 class="service-title">No estoy dispuesto a asumir mayores riesgos en mi inversión en el mercado de valores, ya que la posibilidad de obtener mayores ganancias no compensa la posibilidad de grandes pérdidas.</h4>
                           <input type="checkbox" name="checkbox18" id="checkbox18" onclick="updateCheckboxes18()"> Respuesta 3<br>

                        </div>
                     </div>
                  </div>
                  
               </div>
            </div>
         </div>
      </div>
      <!--  service section end  -->
      
            <!--  service section start  -->
            <div class="service-section home-3">
               <div class="container">
                  <span class="title">Pregunta Nº7:</span>
                  <h2 class="subtitle">¿Ha experimentado pérdidas significativas en el mercado de valores en el pasado y cómo afectó esto su disposición a tomar riesgos en el futuro?</h2>
                  <div class="services">
                     <div class="row">
                        <div class="col-lg-4 col-md-6">
                           <div class="single-service wow fadeInUp" data-wow-duration="1.5s">
      
                              <div class="service-txt">
                                 <h4 class="service-title"> No he experimentado pérdidas significativas en el mercado de valores en el pasado, pero tengo miedo de que eso suceda en el futuro.</h4>
                                 <input type="checkbox" name="checkbox19" id="checkbox19" onclick="updateCheckboxes19()"> Respuesta 1<br>
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                           <div class="single-service wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".2s">
                 
                              <div class="service-txt">
                                 <h4 class="service-title">He experimentado algunas pérdidas en el mercado de valores en el pasado, pero no han sido significativas. Esto no ha afectado significativamente mi disposición a tomar riesgos en el futuro.</h4>
                                 <input type="checkbox" name="checkbox20" id="checkbox20" onclick="updateCheckboxes20()"> Respuesta 2<br>
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                           <div class="single-service wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".4s">
                         
                              <div class="service-txt">
                                 <h4 class="service-title">He experimentado pérdidas significativas en el mercado de valores en el pasado, lo que ha aumentado mi aversión al riesgo y me ha hecho más cauteloso al tomar decisiones de inversión.</h4>
                                 <input type="checkbox" name="checkbox21" id="checkbox21" onclick="updateCheckboxes21()"> Respuesta 3<br>
      
                              </div>
                           </div>
                        </div>
                        
                     </div>
                  </div>
               </div>
            </div>
            <!--  service section end  -->
            
            <!--  service section start  -->
      <div class="service-section home-3">
         <div class="container">
            <span class="title">Pregunta Nº8:</span>
            <h2 class="subtitle">¿Qué nivel de diversificación tiene su portafolio de inversión y cómo afectaría esto su capacidad para gestionar el riesgo en una situación de volatilidad del mercado?</h2>
            <div class="services">
               <div class="row">
                  <div class="col-lg-4 col-md-6">
                     <div class="single-service wow fadeInUp" data-wow-duration="1.5s">

                        <div class="service-txt">
                           <h4 class="service-title">Tengo un nivel moderado de diversificación en mi portafolio de inversión, lo que me permite gestionar mejor el riesgo en una situación de volatilidad del mercado.</h4>
                           <input type="checkbox" name="checkbox22" id="checkbox22" onclick="updateCheckboxes22()"> Respuesta 1<br>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6">
                     <div class="single-service wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".2s">
           
                        <div class="service-txt">
                           <h4 class="service-title">Tengo un nivel alto de diversificación en mi portafolio de inversión, lo que me permite gestionar mejor el riesgo en una situación de volatilidad del mercado.</h4>
                           <input type="checkbox" name="checkbox23" id="checkbox23" onclick="updateCheckboxes23()"> Respuesta 2<br>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6">
                     <div class="single-service wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".4s">
                   
                        <div class="service-txt">
                           <h4 class="service-title">Tengo un alto nivel de diversificación en mi portafolio de inversión, lo que me permite gestionar mejor el riesgo en una situación de volatilidad del mercado y reducir las pérdidas potenciales.</h4>
                           <input type="checkbox" name="checkbox24" id="checkbox24" onclick="updateCheckboxes24()"> Respuesta 3<br>

                        </div>
                     </div>
                  </div>
                  
               </div>
            </div>
         </div>
      </div>
      <!--  service section end  -->
      
            <!--  service section start  -->
            <div class="service-section home-3">
               <div class="container">
                  <span class="title">Pregunta Nº9:</span>
                  <h2 class="subtitle">¿Cuál es su horizonte de inversión y cómo afectaría esto su disposición a tomar riesgos en el mercado de valores?</h2>
                  <div class="services">
                     <div class="row">
                        <div class="col-lg-4 col-md-6">
                           <div class="single-service wow fadeInUp" data-wow-duration="1.5s">
      
                              <div class="service-txt">
                                 <h4 class="service-title">Mi horizonte de inversión es a largo plazo, por lo que no estoy dispuesto a tomar riesgos innecesarios que puedan afectar negativamente mi inversión en el futuro.</h4>
                                 <input type="checkbox" name="checkbox25" id="checkbox25" onclick="updateCheckboxes25()"> Respuesta 1<br>
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                           <div class="single-service wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".2s">
                 
                              <div class="service-txt">
                                 <h4 class="service-title">Mi horizonte de inversión es a largo plazo, lo que me permite estar dispuesto a asumir cierto nivel de riesgo en el mercado de valores, pero siempre dentro de ciertos límites.</h4>
                                 <input type="checkbox" name="checkbox26" id="checkbox26" onclick="updateCheckboxes26()"> Respuesta 2<br>
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                           <div class="single-service wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".4s">
                         
                              <div class="service-txt">
                                 <h4 class="service-title">Mi horizonte de inversión es a largo plazo, pero aún así no estoy dispuesto a tomar grandes riesgos en el mercado de valores debido a mi alta aversión al riesgo.</h4>
                                 <input type="checkbox" name="checkbox27" id="checkbox27" onclick="updateCheckboxes27()"> Respuesta 3<br>
      
                              </div>
                           </div>
                        </div>
                        
                     </div>
                  </div>
               </div>
            </div>
            <!--  service section end  -->
            
            <!--  service section start  -->
      <div class="service-section home-3">
         <div class="container">
            <span class="title">Pregunta Nº10:</span>
            <h2 class="subtitle">¿Ha consultado a un asesor financiero o experto en inversiones para obtener asesoramiento sobre cómo manejar la volatilidad del mercado de valores?</h2>
            <div class="services">
               <div class="row">
                  <div class="col-lg-4 col-md-6">
                     <div class="single-service wow fadeInUp" data-wow-duration="1.5s">

                        <div class="service-txt">
                           <h4 class="service-title"> Sí, he consultado a un asesor financiero o experto en inversiones para obtener asesoramiento sobre cómo manejar la volatilidad del mercado de valores y seguiré sus recomendaciones.</h4>
                           <input type="checkbox" name="checkbox28" id="checkbox28" onclick="updateCheckboxes28()"> Respuesta 1<br>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6">
                     <div class="single-service wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".2s">
           
                        <div class="service-txt">
                           <h4 class="service-title">Sí, he consultado a un asesor financiero o experto en inversiones para obtener asesoría</h4>
                           <input type="checkbox" name="checkbox29" id="checkbox29" onclick="updateCheckboxes29()"> Respuesta 2<br>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6">
                     <div class="single-service wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".4s">
                   
                        <div class="service-txt">
                           <h4 class="service-title">Sí, he consultado a un asesor financiero o experto en inversiones para obtener asesoramiento sobre cómo manejar la volatilidad del mercado de valores y seguiré sus recomendaciones.</h4>
                           <input type="checkbox" name="checkbox30" id="checkbox30" onclick="updateCheckboxes30()"> Respuesta 3<br>

                        </div>
                     </div>
                  </div>
                  <button type="submit" name="button_clicked" value="clicked">¡Enviar Resultado del test!</button>
             
               {% if variable < 33 %}
                  <p>Perfil de Riesgo Bajo.</p>
               {% elif variable >= 33 and variable <= 66 %}
                  <p>Perfil de Riesgo Moderado.</p>
               {% elif variable > 66 and variable <= 100 %}
                  <p>Perfil de Riesgo Alto.</p>
                  
               {% elif variable == 404 %}
                  <p>Hay Preguntas sin responder ¡Por favor verifique el formulario!</p>
               {% else %}
                  
               {% endif %}
                     </form>
               </div>
            </div>
         </div>
      </div>
      <!--  service section end  -->
      
      
      <!--   quote section start    -->
      <div class="quote-section quote-bg">
         <div class="container">
            <div class="row">
               <div class="offset-lg-5 col-lg-7">
                  <div class="quote-form-section">
                     <span class="title">FORMULARIO</span>
                     <h2 class="subtitle">CONTACTO</h2>
                     <form action="/registrarcurso/" method="post">{% csrf_token %}
                        <div class="row">
                           <div class="col-lg-6">
                              <div class="form-element"><input name="name" type="text" placeholder="You name"required></div>
                           </div>
                           <div class="col-lg-6">
                              <div class="form-element">
                                 <div class="select-wrapper">
                                    <select name="freight">
                                       <option value="" selected disabled>Select a Freight</option>
                                       <option value="">Air Freight</option>
                                       <option value="">Ocean Freight</option>
                                       <option value="">Road Freight</option>
                                    </select>
                                 </div>
                              </div>
                           </div>
                           <div class="col-lg-6">
                              <div class="form-element"><input name="email" type="email" placeholder="Email" required></div>
                           </div>
                           <div class="col-lg-6">
                              <div class="form-element"><input name="phone" type="text" placeholder="Phone"required></div>
                           </div>
                           <div class="col-lg-12">
                              <div class="form-element mb-0"><button type="submit" class="boxed-btn"><span>Submit</span></button></div>
                           </div>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--   quote section end    -->
      
      
      <!--   news section start    -->
      <div class="news-section">
         <div class="container">
            <span class="title">Latest blog</span>
            <h2 class="subtitle">Inside The News</h2>
            <div class="row">
               <div class="col-lg-4 col-md-6">
                  <div class="single-news wow fadeInRight" data-wow-duration="1.5s">
                     <img src="{% static 'img/news-1.jpg' %}" alt="">
                     <div class="news-txt">
                        <span class="date">November 05, 2018  -  BY Admin</span>
                        <a href="blog-details.html" class="title">
                           <h3>Flexible shipping are increasing day by day gradually...</h3>
                        </a>
                        <a class="readmore" href="blog-details.html">Read More</a>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4 col-md-6">
                  <div class="single-news wow fadeInRight" data-wow-duration="1.5s" data-wow-delay=".2s">
                     <img src="{% static 'img/news-2.jpg' %}" alt="">
                     <div class="news-txt">
                        <span class="date">November 05, 2018  -  BY Admin</span>
                        <a href="blog-details.html" class="title">
                           <h3>Big warehouse are most friendly for  new shipping..</h3>
                        </a>
                        <a class="readmore" href="blog-details.html">Read More</a>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4 col-md-6">
                  <div class="single-news wow fadeInRight" data-wow-duration="1.5s" data-wow-delay=".4s">
                     <img src="{% static 'img/news-3.jpg' %}" alt="">
                     <div class="news-txt">
                        <span class="date">November 05, 2018  -  BY Admin</span>
                        <a href="blog-details.html" class="title">
                           <h3>Keep your product in storage for long time...</h3>
                        </a>
                        <a class="readmore" href="blog-details.html">Read More</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--   news section end    -->
      
      
      <!--   footer section start    -->
      <footer>
         <div class="container">
            <div class="top-footer">
               <div class="row">
                  <div class="col-xl-4 col-lg-4">
                     <div class="logo-wrapper"><img src="{% static 'img/footer_logo.png' %}" alt=""></div>
                     <p>Transgo shipping offers a host of logistic management services and supply chain & provide innovative solutions with the best. </p>
                  </div>
                  <div class="offset-xl-1 col-xl-2 col-lg-2">
                     <h4>Useful Links</h4>
                     <ul class="userful-links">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About us</a></li>
                        <li><a href="services.html">Service</a></li>
                        <li><a href="blogs.html">Blog</a></li>
                        <li><a href="contact.html">Contact</a></li>
                     </ul>
                  </div>
                  <div class="col-xl-2 col-lg-2">
                     <h4>Services</h4>
                     <ul class="userful-links">
                        <li><a href="#">Air Freight</a></li>
                        <li><a href="#">OCEAN Freight</a></li>
                        <li><a href="#">WAREHOUSING</a></li>
                        <li><a href="#">STORAGE</a></li>
                        <li><a href="#">ROAD Freight</a></li>
                     </ul>
                  </div>
                  <div class="col-xl-3 col-lg-4">
                     <h4>Contact Us</h4>
                     <div class="footer-contact">
                        <div class="contact-info">
                           <div class="icon-wrapper"><i class="flaticon-placeholder"></i></div>
                           <p>143 castle road 517 district, kiyev port south Canada</p>
                        </div>
                        <div class="contact-info">
                           <div class="icon-wrapper"><i class="flaticon-call"></i></div>
                           <p>+00 12 123 4567</p>
                        </div>
                        <div class="contact-info">
                           <div class="icon-wrapper"><i class="flaticon-email"></i></div>
                           <p>Info@yourmail.com</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="bottom-footer">
               <p class="text-center">© Copyrights 2019 Transpix. All rights reserved.</p>
            </div>
         </div>
      </footer>
      <!--   footer section end    -->
      
      
      <!-- preloader section start -->
      <div class="loader-container">
         <span class="loader">
         <span class="loader-inner"></span>
         </span>
      </div>
      <!-- preloader section end -->
      
      
      <!-- back to top area start -->
      <div class="back-to-top">
         <i class="fas fa-chevron-up"></i>
      </div>
      <!-- back to top area end --> 
      
         
               
      <!-- popper js -->
      <script src="{% static 'js/popper.min.js' %}"></script>
      <!-- bootstrap js -->
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <!-- owl carousel js -->
      <script src="{% static 'js/owl.carousel.min.js' %}"></script>
      <!-- slicknav js -->
      <script src="{% static 'js/jquery.slicknav.min.js' %}"></script>
      <!-- wow js -->
      <script src="{% static 'js/wow.min.js' %}"></script>
      <!-- main js -->
      <script src="{% static 'js/main.js' %}"></script>
      <script>
         function updateCheckboxes1() {
             var checkbox1 = document.getElementById('checkbox1');
             var checkbox2 = document.getElementById('checkbox2');
             var checkbox3 = document.getElementById('checkbox3');
             if (checkbox1.checked) {
                 checkbox2.checked = false;
                 checkbox3.checked = false;
               }}

         function updateCheckboxes2() {
             var checkbox1 = document.getElementById('checkbox1');
             var checkbox2 = document.getElementById('checkbox2');
             var checkbox3 = document.getElementById('checkbox3');
             if (checkbox2.checked) {
                 checkbox1.checked = false;
                 checkbox3.checked = false;
         }}

         function updateCheckboxes3() {
             var checkbox1 = document.getElementById('checkbox1');
             var checkbox2 = document.getElementById('checkbox2');
             var checkbox3 = document.getElementById('checkbox3');
             if (checkbox3.checked) {
                 checkbox1.checked = false;
                 checkbox2.checked = false;
         }}
         

         function updateCheckboxes4() {
             var checkbox4 = document.getElementById('checkbox4');
             var checkbox5 = document.getElementById('checkbox5');
             var checkbox6 = document.getElementById('checkbox6');
             if (checkbox4.checked) {
                 checkbox5.checked = false;
                 checkbox6.checked = false;
               }}

         function updateCheckboxes5() {
             var checkbox4 = document.getElementById('checkbox4');
             var checkbox5 = document.getElementById('checkbox5');
             var checkbox6 = document.getElementById('checkbox6');
             if (checkbox5.checked) {
                 checkbox4.checked = false;
                 checkbox6.checked = false;
         }}

         function updateCheckboxes6() {
             var checkbox4 = document.getElementById('checkbox4');
             var checkbox5 = document.getElementById('checkbox5');
             var checkbox6 = document.getElementById('checkbox6');
             if (checkbox6.checked) {
                 checkbox4.checked = false;
                 checkbox5.checked = false;
               }}


               

         function updateCheckboxes7() {
             var checkbox7 = document.getElementById('checkbox7');
             var checkbox8 = document.getElementById('checkbox8');
             var checkbox9 = document.getElementById('checkbox9');
             if (checkbox7.checked) {
                 checkbox8.checked = false;
                 checkbox9.checked = false;
               }}

         function updateCheckboxes8() {
             var checkbox7 = document.getElementById('checkbox7');
             var checkbox8 = document.getElementById('checkbox8');
             var checkbox9 = document.getElementById('checkbox9');
             if (checkbox8.checked) {
                 checkbox7.checked = false;
                 checkbox9.checked = false;
         }}

         function updateCheckboxes9() {
             var checkbox7 = document.getElementById('checkbox7');
             var checkbox8 = document.getElementById('checkbox8');
             var checkbox9 = document.getElementById('checkbox9');
             if (checkbox9.checked) {
                 checkbox7.checked = false;
                 checkbox8.checked = false;
         }}
         

         function updateCheckboxes10() {
             var checkbox10 = document.getElementById('checkbox10');
             var checkbox11 = document.getElementById('checkbox11');
             var checkbox12 = document.getElementById('checkbox12');
             if (checkbox10.checked) {
                 checkbox11.checked = false;
                 checkbox12.checked = false;
               }}

         function updateCheckboxes11() {
             var checkbox10 = document.getElementById('checkbox10');
             var checkbox11 = document.getElementById('checkbox11');
             var checkbox12 = document.getElementById('checkbox12');
             if (checkbox11.checked) {
                 checkbox10.checked = false;
                 checkbox12.checked = false;
         }}

         function updateCheckboxes12() {
             var checkbox10 = document.getElementById('checkbox10');
             var checkbox11 = document.getElementById('checkbox11');
             var checkbox12 = document.getElementById('checkbox12');
             if (checkbox12.checked) {
                 checkbox10.checked = false;
                 checkbox11.checked = false;
               }}



               function updateCheckboxes13() {
             var checkbox13 = document.getElementById('checkbox13');
             var checkbox14 = document.getElementById('checkbox14');
             var checkbox15 = document.getElementById('checkbox15');
             if (checkbox13.checked) {
                 checkbox14.checked = false;
                 checkbox15.checked = false;
               }}

         function updateCheckboxes14() {
             var checkbox13 = document.getElementById('checkbox13');
             var checkbox14 = document.getElementById('checkbox14');
             var checkbox15 = document.getElementById('checkbox15');
             if (checkbox14.checked) {
                 checkbox13.checked = false;
                 checkbox15.checked = false;
         }}

         function updateCheckboxes15() {
             var checkbox13 = document.getElementById('checkbox13');
             var checkbox14 = document.getElementById('checkbox14');
             var checkbox15 = document.getElementById('checkbox15');
             if (checkbox15.checked) {
                 checkbox13.checked = false;
                 checkbox14.checked = false;
         }}
         

         function updateCheckboxes16() {
             var checkbox16 = document.getElementById('checkbox16');
             var checkbox17 = document.getElementById('checkbox17');
             var checkbox18 = document.getElementById('checkbox18');
             if (checkbox16.checked) {
                 checkbox17.checked = false;
                 checkbox18.checked = false;
               }}

         function updateCheckboxes17() {
             var checkbox16 = document.getElementById('checkbox16');
             var checkbox17 = document.getElementById('checkbox17');
             var checkbox18 = document.getElementById('checkbox18');
             if (checkbox17.checked) {
                 checkbox16.checked = false;
                 checkbox18.checked = false;
         }}

         function updateCheckboxes18() {
             var checkbox16 = document.getElementById('checkbox16');
             var checkbox17 = document.getElementById('checkbox17');
             var checkbox18 = document.getElementById('checkbox18');
             if (checkbox18.checked) {
                 checkbox16.checked = false;
                 checkbox17.checked = false;
               }}
               

               

            function updateCheckboxes19() {
             var checkbox19 = document.getElementById('checkbox19');
             var checkbox20 = document.getElementById('checkbox20');
             var checkbox21 = document.getElementById('checkbox21');
             if (checkbox19.checked) {
                 checkbox20.checked = false;
                 checkbox21.checked = false;
               }}

         function updateCheckboxes20() {
             var checkbox19 = document.getElementById('checkbox19');
             var checkbox20 = document.getElementById('checkbox20');
             var checkbox21 = document.getElementById('checkbox21');
             if (checkbox20.checked) {
                 checkbox19.checked = false;
                 checkbox21.checked = false;
         }}

         function updateCheckboxes21() {
             var checkbox19 = document.getElementById('checkbox19');
             var checkbox20 = document.getElementById('checkbox20');
             var checkbox21 = document.getElementById('checkbox21');
             if (checkbox21.checked) {
                 checkbox19.checked = false;
                 checkbox20.checked = false;
         }}
         

         function updateCheckboxes22() {
             var checkbox22 = document.getElementById('checkbox22');
             var checkbox23 = document.getElementById('checkbox23');
             var checkbox24 = document.getElementById('checkbox24');
             if (checkbox22.checked) {
                 checkbox23.checked = false;
                 checkbox24.checked = false;
               }}

         function updateCheckboxes23() {
             var checkbox22 = document.getElementById('checkbox22');
             var checkbox23 = document.getElementById('checkbox23');
             var checkbox24 = document.getElementById('checkbox24');
             if (checkbox23.checked) {
                 checkbox22.checked = false;
                 checkbox24.checked = false;
         }}

         function updateCheckboxes24() {
             var checkbox22 = document.getElementById('checkbox22');
             var checkbox23 = document.getElementById('checkbox23');
             var checkbox24 = document.getElementById('checkbox24');
             if (checkbox24.checked) {
                 checkbox22.checked = false;
                 checkbox23.checked = false;
               }}



               function updateCheckboxes25() {
             var checkbox25 = document.getElementById('checkbox25');
             var checkbox26 = document.getElementById('checkbox26');
             var checkbox27 = document.getElementById('checkbox27');
             if (checkbox25.checked) {
                 checkbox26.checked = false;
                 checkbox27.checked = false;
               }}

         function updateCheckboxes26() {
             var checkbox25 = document.getElementById('checkbox25');
             var checkbox26= document.getElementById('checkbox26');
             var checkbox27 = document.getElementById('checkbox37');
             if (checkbox26.checked) {
                 checkbox25.checked = false;
                 checkbox27.checked = false;
         }}

         function updateCheckboxes27() {
             var checkbox25 = document.getElementById('checkbox25');
             var checkbox26 = document.getElementById('checkbox26');
             var checkbox27 = document.getElementById('checkbox27');
             if (checkbox27.checked) {
                 checkbox25.checked = false;
                 checkbox26.checked = false;
         }}
         





         function updateCheckboxes28() {
             var checkbox28 = document.getElementById('checkbox28');
             var checkbox29= document.getElementById('checkbox29');
             var checkbox30 = document.getElementById('checkbox30');
             if (checkbox28.checked) {
                 checkbox29.checked = false;
                 checkbox30.checked = false;
               }}

         function updateCheckboxes29() {
             var checkbox28 = document.getElementById('checkbox28');
             var checkbox29 = document.getElementById('checkbox29');
             var checkbox30 = document.getElementById('checkbox30');
             if (checkbox29.checked) {
                 checkbox28.checked = false;
                 checkbox30.checked = false;
         }}

         function updateCheckboxes30() {
             var checkbox28 = document.getElementById('checkbox28');
             var checkbox29 = document.getElementById('checkbox29');
             var checkbox30 = document.getElementById('checkbox30');
             if (checkbox30.checked) {
                 checkbox28.checked = false;
                 checkbox29.checked = false;
               }}
         </script>
   </body>
</html>